<%
layout("/layouts/private.html"){
%>
#set($obj = '${obj.')
#set($obj_id='${obj.id}')
#set($base = '${base}')
<header class="header navbar bg-white shadow">
    <div class="btn-group tool-button">
        <a class="btn btn-primary navbar-btn" href="$base${table.UriPrefix}" id="goback" data-pjax><i class="ti-angle-left"></i> 返回</a>
    </div>
</header>

<div class="content-wrap">
    <div class="wrapper" style="min-height:500px;">
        <section class="panel panel-form">
            <form id="detailForm" role="form" class="form-horizontal parsley-form" data-parsley-validate>
                <input name="id" type="hidden" value="$obj_id">
                <div class="row mb10">
                    <div class="col-lg-12">
#foreach ($column in $table.LabeledColumns)
                            <div class="form-group">
                                <label for="${column.FieldName}" class="col-sm-2 control-label">${column.label}</label>
#if ($column.isBoolean())
                                    <div class="col-sm-8">
                                        <input type="text" id="${column.FieldName}" class="form-control" name="${column.FieldName}" data-parsley-required="true"
                                               placeholder="${column.Label}" value="$obj${column.fieldName}}" >
                                    </div>
#else
                                    <div class="col-sm-8">
                                        <input type="text" id="${column.FieldName}" class="form-control" name="${column.FieldName}" data-parsley-required="true"
                                               placeholder="${column.Label}" value="$obj${column.fieldName}}" >
                                    </div>
#end
                            </div>
#end
                    </div>
                </div>

            </form>
        </section>
    </div>
</div>
<%}%>