<%
layout("/layouts/private.html"){
%>
#set($obj = '${obj.')
#set($obj_id='${obj.id}')
#set($base = '${base}')
<section class="content-wrap bg-white">
    <header class="header navbar bg-white shadow">
        <div class="btn-group tool-button">
            <a class="btn btn-primary navbar-btn" href="$base${table.UriPrefix}" id="goback" data-pjax><i class="ti-angle-left"></i> 返回</a>
            <a class="btn btn-info navbar-btn" href="$base${table.UriPrefix}/edit/${obj.id}"  id="edit" data-pjax> 修改</a>
        </div>
    </header>

    <div class=panel-body style="padding-top: 56px;">
        <div class="table-responsive no-border">
            <input id="unitid" type="hidden">
            <table class="table table-bordered table-striped mg-t datatable">
                <tbody>
#foreach ($column in $table.LabeledColumns)
                <tr>
                    <td>${column.label}</td><td>$obj${column.fieldName}}</td>
                </tr>
#end
                </tbody>

            </table>
        </div>
    </div>
</section>
<%}%>